.Favorites-Card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 425px;
    height: 55px;
    border-radius: 8px;
    background-color:rgba(0,0,0,.4);
    box-sizing: border-box;
    padding:0 20px;
    cursor: pointer;
    position: relative;
    margin: 0 0 10px 0
}

.City-Info-Container{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.Favorites-Card:hover{
    background-color: rgba(0,0,0,.7);
}

.Favorites-Card img {
    height:65px;
}

.City {
    font-size: 18px;
    font-family: 'Amaranth', sans-serif;
    color: seashell;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0;
}

.Temperature{
    font-family: 'Autour One', sans-serif;
    color:seashell;
    font-size: 20px;
}

.Favorites-Card button{
    visibility: hidden;
}

.Favorites-Card:hover button{
    visibility: visible;
}

@media (max-width: 1030px){
    .Favorites-Card{
        width: 85%;
        justify-content: center;
        align-items: center;
    }
    .City-Info-Container{
        width: 80%;
    }
    .Favorites-Card button {
        visibility: visible;
        position: relative;
        left:0;
        background-color: rgba(255, 0, 0, 0.2);
        margin:0 0 0 15px;
        border-radius: 7px;
    }
}


