.Button {
    border:none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Search {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: rgba(72, 72, 72, 0.3);
    color:#fff;
    font-size: 18px;
}

.Remove {
    position: absolute;
    left:-30px;
    font-size: 25px;
    background-color: transparent;
    color: #ff2f2f
}

.Remove-All {
    background-color: rgba(255, 55, 55, 0.5);
    padding:7px 15px;
    color:seashell;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}

.Remove-All:hover{
    background-color: #ff2f2f;
}


.Add {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    position: absolute;
    top:15px;
    right:15px;
    background-color: deeppink;
    font-size: 25px;
    color:#fff
}

.Error {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff0062;
    color:#fff
}


