.Forecast{
    width:600px
}

.Location-Name{
    font-weight: 100;
    color: seashell;
    font-family: 'Amaranth', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    width: 100%;
}

@media (max-width: 1030px){
    .Forecast{
        width: 85%;
        flex-direction: column;
        display: flex;
    }
}
