.Dark-Mode-Background{
    background-color: #131328;
}
.Dark-Mode-BackImg{
    background: url("../assets/darkModeImg.jpg") no-repeat center center;
    background-size: cover;
}

.Dark-Mode-Color{
    color: seashell;
}

.Dark-Mode-Box-Shadow{
    box-shadow: 0 1px 1px 0 #131328;
}



.Light-Mode-Background{
    background-color: seashell;
}

.Light-Mode-BackImg{
    background: url("../assets/lightModeImg.jpg") no-repeat center center;
    background-size: cover;
}

.Light-Mode-Color{
    color: #4a4a4a
}

.Light-Mode-Input{
    color: #fff ;
    font-weight: 400;
    text-shadow: 1px 1px 3px #606060;
}

.Light-Mode-Input::placeholder{
    color: #fff ;
    font-weight: 400;
    text-shadow: 1px 1px 3px #606060;
}

.Light-Mode-Box-Shadow{
    box-shadow: 0 1px 1px 0 seashell;
}
