.Weather {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    transition: all .3s ease-in-out;
}

.Back-Image{
    position: fixed;
    background: url("../../assets/darkModeImg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

.Weather-Left-Layout {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 150px 0 50px 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Weather-Right-Layout {
    width: 50%;
    height: 100%;
    padding:100px 0 50px 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
}

.Weather-Left-Layout span {
    color: seashell;
    font-size: 13px;
    padding: 0 0 10px 5px;
    letter-spacing: 1px;
}

.Weather-Right-Layout::-webkit-scrollbar {
    display: none;
}


.Weather-Left-Layout::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1030px){
    .Weather{
        display: block;
    }
    .Weather-Right-Layout, .Weather-Left-Layout {
        width: 100%;
        align-items: center;
        padding: 100px 0 0 0;
        overflow: visible;
    }
    .Weather-Right-Layout{
        padding: 0;
    }
}
