.Logo {
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

img {
    height: 100%;
}

.App-Name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Logo-Name {
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: 'Acme';
    letter-spacing: 1px;
}

.App-Type {
    margin:0;
    color:#fff;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
