.Logo {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

img {
    height: 100%;
}

.App-Name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Logo-Name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
}

.App-Type {
    margin:0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

@media (max-width: 500px) {
    .Logo-Name{
        font-size: 15px;
    }
    .App-Type{
        font-size: 13px;
    }
}
