.SideDrawer{
    position: fixed;
    height: 100%;
    z-index: 300;
    right: 0;
    display: none;
    box-sizing: border-box;
    transition: all .3s ease-in;
    padding: 20px 20px 0 20px;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(100%);
}

.Link-Mode-Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.Link-Mode-Container a{
    color: #585858;
    padding: 0;
}

.Favorites-Text{
    font-size: 13px;
    font-weight: 600;
    color: #e85e21;
}

.Remove-All-Container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px
}

.No-Favorite-Message{
    color:grey;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
}

@media (max-width: 1024px) {
    .SideDrawer{
        display: block;
        width: 40%;
    }
}
@media (max-width: 500px) {
    .SideDrawer{
        display: block;
        width: 75%;
    }
}


