.Home{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-out;
}

.Title{
    color:#fff;
    font-size: 35px;
    font-weight: 100;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 50px;
}

.Search-Input{
    display: flex;
}

@media (max-width: 500px) {
    .Search-Input{
        flex-direction: column;
        align-items: center;
    }
    .Search-Input button{
        margin-top:15px
    }
}
