.Home{
    background: url("../../assets/darkModeImg.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

::placeholder{
    color:#fff;
    transition: all .3s ease-in-out;
}

.Input:focus::placeholder{
    color: transparent;
}
