.Current-Weather-Card{
    width: 425px;
    height: 275px;
    background-color: rgba(0,0,0,.4);
    border-radius: 15px;
    margin: 20px 0;
    position: relative;
}

.City-Name{
    color: #e1e1e1;
    font-size: 18px;
    font-family: 'Amaranth', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.Weather-Status{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Time{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    background-color: rgba(58,57,57,.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Time p{
    color: seashell;
    font-size: 13px;
    margin:0;
    font-family: 'Tauri', sans-serif;
}

.Temp{
    font-size: 35px;
    color: #e1e1e1;
    font-family: 'Autour One', sans-serif;
    margin:0 15px
}

.Weather-Details{
    display: flex;
}

.Details{
    width: 50%;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left:25px;
    box-sizing: border-box;
}
.Details p {
    color:#e1e1e1;
    margin-top: 5px;
}
