.Weekly-Card{
    width: 600px;
    height: 160px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
}

.Date-Weekly-Container{
    display: flex;
    align-items: center;
}

.Date {
    color: seashell;
    font-size: 15px;
    margin:0;
    font-family: 'Tauri', sans-serif;
}

.Weekly-Condition{
    color:seashell;
    font-family: 'Tauri', sans-serif;
    font-size: 13px;
    margin:5px 0 0 0;
}

.Weekly-Forecast {
    margin: 0 20px;
    display: flex;
    align-items: center;
}


.Weekly-Details {
    display: flex;
    flex-direction: column;
    margin:0 15px
}

.Weekly-Details div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Weekly-Details div p{
    color:seashell;
    margin:4px;
    font-size: 15px;
    font-family: 'Tauri', sans-serif;
}


.DN-Temp{
    margin:0 30px;
    display: flex;
    align-items: center;
}

.DN-Temp p{
    color: seashell;
    font-size: 25px;
    font-family: 'Amaranth', sans-serif;
    margin:10px 0
}

@media (max-width: 1000px){
    .Weekly-Card{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .Weekly-Card{
        flex-direction: column;
        height: auto;
        padding: 30px 0 5px 0;
    }
    .Date-Weekly-Container{
        flex-direction: column;
    }
    .Date-Container{
        width: 100px;
        padding: 3px 0;
        background-color: rgba(0,0,0,.3);
        align-items: center;
        border-radius: 10px;
        position: absolute;
        top:5px
    }
    .Weekly-Details{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}
