.Weekly-Card{
    width: 600px;
    height: 160px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}
.Date p {
    color: seashell;
    font-size: 15px;
    margin:0;
    font-family: 'Tauri', sans-serif;
}

.Weekly-Forecast {
    margin: 0 20px;
    display: flex;
    align-items: center;
}


.Weekly-Details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0 15px
}

.Weekly-Details p{
    color:seashell;
    margin:4px;
    font-size: 15px;
    font-family: 'Tauri', sans-serif;
}


.DN-Forecast{

}

.DN-Temp{
    margin:0 30px;
    display: flex;
    align-items: center;
}

.DN-Temp p{
    color: seashell;
    font-size: 25px;
    font-family: 'Amaranth', sans-serif;
    margin:10px 0
}

.Condition{

}
