.Hourly-Card{
    width: 600px;
    height: 160px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Hour{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hour p {
    color: seashell;
    font-size: 15px;
    margin:0;
}

.Hourly-Forecast {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.An-Hour-Forecast p{
    color:seashell;
    font-family: Acme, sans-serif;
    margin: 5px 0;
}

.Hour-Temp{
    font-size: 30px;
    font-family: 'Autour One', sans-serif !important;
}

.Hourly-Details {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin:0 15px
}

.Hourly-Details p{
    color:seashell;
    margin:4px;
    font-size: 15px;
}

