.Root{
    width: 100%;
    background-color: transparent!important;
    box-shadow: none!important;
    flex-grow: 1;
}

.Tabs{
    background-color: rgba(0,0,0,.4);
    border-radius: 7px;
}

@media (max-width: 1030px){
    .Root{
        width: 100%;
    }
}
